.section{
    background-position: center center;
    background-size: cover;
    min-height: 110vh;
    position: relative;

}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.colum{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.linear{
    background-image: linear-gradient(#FF4500 60%,#f8f8f8);
}