.submit{
  width: 70%;
  height: 45px;
  font: var(--robotoS);
  cursor: pointer;
  border: 1.5px solid white;
  outline: none;
  transition: 0.4s ease-in-out;
}
.submit:hover{
  border-radius: 0.7em;
}

.darkred{
  border-color: white;
  color: white;
  background-color: var(--dif);
}



