.containerForm{
    background-color:white;
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.251);
    width: 55vw;
    min-height: 100vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em 0;
    border: 0.1em solid var(--dest1);
}
.containerForm > h2{
    color: var(--dest1);
    font-family: Roboto;
    font-weight: 400 !important;
    margin-top:2em ;
}

.containerForm > form{
    width: 90%;
    min-height: 500px !important;
    padding: 2em;
    display: flex;  
    align-items: center;
    flex-direction: column;
    gap: 5.5em 0
}
.containerForm > form  input[type="text"],.containerForm > form textarea{
    border-color: var(--dest1) !important;
}